name: Blog syndication
on:
  push:
    # Watch these branches...
    # TODO Swap these once merged to main
    # branches: [ main ]
    branches: [ develop ]
    # ...for changes to these files.
    paths:
    # TODO Can this be a bit more targeted towards posts?
    - 'src/**/*.mdx?'

jobs:
  syndicate:
    runs-on: ubuntu-latest
    name: Syndicate posts
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SYNDICATE_POST_DIR: 'src/pages/posts'

    steps:
    - name: Push to DEV.to
      uses: dabrady/syndicate@v1.0
      env:
        DEV_API_KEY: ${{ secrets.DEV_API_KEY }}
      with:
        silos: DEV
        mark_as_syndicated: true
